esp32/*.bin
esp32/modules/*
!esp32/modules/README.md
esp32/firmware/*
!esp32/firmware/README.md
esp32/release/*
!esp32/release/README.md
esp8266/*.bin
esp8266/modules/*
!esp8266/modules/README.md
esp8266/firmware/*
!esp8266/firmware/README.md
esp8266/release/*
!esp8266/release/README.md
*.bin
.bash_history
